.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layoutMain {
  flex: 1 0 auto;
  background: linear-gradient(to bottom, #01346A 0%, #001D3A 20%, #0A0F24 50%, #001D3A 80%, #01346A 100%);
}
