.login {
  color: #fff;
  text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
  margin-bottom: 3rem;
  max-width: 500px;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
  padding: 50px;
  border-radius: 10px;
}

.label {
  color: #fff;
  text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
}

.input {
  background-color: #000;
  color: #fff;
  text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
}

.input:focus,
.input:-webkit-autofill,
.input:-webkit-autofill:focus {
  outline: none;
  background-color: #000 !important;
  border-color: #fff !important;
  box-shadow: 0 0 8px #00ff99 !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset, 0 0 8px #00ff99 !important;
  -webkit-text-fill-color: #fff !important;
  text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
  caret-color: #00ff99;
}

.logInButton {
  font-weight: 400;
  color: #00ff99;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #00ff99;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  cursor: pointer;
}

.logInButton:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
  text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
}

.register {
    color: #00ff99;
}

.forgottenPassword {
    color: #00cc77;
}

.register:hover, .forgottenPassword:hover {
  color: #00ff99;
  text-shadow:
    0 0 10px #00ff99,
    0 0 20px #00ff99,
    0 0 30px #00ff99;
  cursor: pointer;
  text-decoration: none;
}






