nav {
  background: linear-gradient(to bottom, #000 40%, #07130f 60%, #0d261d 100%);
}

.navbarBrand,
.navLink {
  color: #fff;
  font-size: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.navbarBrand:hover,
.navLink:hover {
  color: #fff;
  text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
}

.user {
  color: #fff;
  border-color: #00ff99 1px solid;
  transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  font-size: 1rem;
}

.user:hover,
.user:hover .logInOut,
.logInOut:hover {
  color: #fff;
  text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
}

.user:hover .logInOut,
.logInOut:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
}

.logInOut {
  font-weight: 400;
  color: #00ff99;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #00ff99;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  cursor: pointer;
  margin-left: 0.5rem;
}