nav {
  background: linear-gradient(to bottom, #000, transparent);
}

.navbarBrand {
  display: inline-block;
  transition: all 0.3s ease;
}

.logo {
  width: 120px;
  height: auto;
  margin-right: 1rem;
}

.navbarBrand:hover .logo {
  filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 5px #027CFF);
}

.navLink {
  color: #fff;
  font-size: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.navLink:hover {
  color: #fff;
  text-shadow: 0 0 5px #027CFF, 0 0 10px #027CFF;
}

.navLink:active,
.navLink:focus {
  color: #fff;
}

.user {
  color: #fff;
  transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  font-size: 1rem;
}

.user:hover,
.user:hover .logInOut,
.logInOut:hover {
  color: #fff;
  text-shadow: 0 0 5px #027CFF, 0 0 10px #027CFF;
}

.user:hover .logInOut,
.logInOut:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 5px #027CFF, 0 0 10px #027CFF;
}

.logInOut {
  font-weight: 400;
  color: #1E90FF;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #1E90FF;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  transition: color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  cursor: pointer;
  margin-left: 0.5rem;
}